---
import Layout from "~/layouts/PageLayout.astro";

const metadata = {
    title: "VerifiedX — Privacy Policy",
    ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
    <div class="max-w-5xl mx-auto px-4">
        <div name="termly-embed" data-id="de2259ea-9e3b-4d35-95db-41e4fb0ea3bc">
        </div>
    </div>
</Layout>

<script type="text/javascript">
    (function (d, s, id) {
        var js,
            tjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://app.termly.io/embed-policy.min.js";
        tjs.parentNode.insertBefore(js, tjs);
    })(document, "script", "termly-jssdk");
</script>
